body {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
	color: #27ae60;
}

header {
	margin-bottom: 3.0em;
}

header h1 {
	font-weight: 100;
	font-size: 3.0em;
	float: left;
	color: #2c3e50;
}

header hr {
	width: 500px;
	margin: 0 auto;
	height: 1px;
	clear: both;
	border: none;
	background-color: #ddd;

}

div#contain {
	width: 1000px;
	margin: 0 auto;
}

nav ul li {
	display: block;
	float: right;
	margin: 4.0em 1.0em 0 1.0em;
	font-weight: 700;
	font-size: 1.3em;
	text-transform: uppercase;
}
